/* Update your main.css to target Zensical's layout variables and classes */
:root {
    --zs-color-primary: #449180; /* Changes theme color dynamically */
}

/* Ensure custom logo fits neatly */
.zs-logo img {
    height: 2rem;
    width: auto;
    border: 1px solid #000000;
    border-radius: 3px;
}